@charset "UTF-8";

/* ------------------------------------
◆　all
------------------------------------ */
html, body {
  color: #2d2d2d;
  background-color: #fff;
  font-family:"ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  font-size: 13px;
  line-height: 1.2em;
  width: 100%;
  min-width: 1020px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

li {
  list-style-type: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.clearfix {
  zoom: 1;
}

img {
  display: block;
}

#wrapper {
  width: 100%;
  min-width: 1080px;
  background-image: url("../images/bg-index-contents.png");
  background-repeat: repeat;
  position: relative;
}

.content-width {
  width: 920px;
  margin: 0 auto;
}

.sp {
  display: none;
}

/* ------------------------------------
◆　sidebar
------------------------------------ */
#nav {
  width: 178px;
  background-image: url("../images/bg-sidebar.png");
  background-repeat: repeat;
  border-right: solid 2px #849883;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

#nav .logo {
  margin: 0 auto;
  display: block;
  width: 127px;
  padding-top: 65px;
}

.open-btn,
.close-btn {
  display: none;
}

#sidr-right {
  padding: 139px 16px 0px 0px;
}

#sidr-right .inner {
  background-image: url("../images/icon-nav.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 180px;
}

#sidr-right ul li {
  border-top: solid 1px #cbcac6;
  /*
  background-image: url("../images/border-index-sidebar.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  */
  padding: 10px 0px;
}

#sidr-right ul li:first-child {
  /*
  background: none;
  */
  border: none;
  padding: 0px 0px 10px;
}

#sidr-right ul li a {
  color:  #2d2d2d;
  font-size: 18px;
  text-align: left;
  padding-left: 30px;
  display: block;
}

#sidr-right ul li a .nav-text {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.nav-index {background-image: url("../images/txt-sidebar-top.png"); width: 49px; height: 17px;}
.nav-bath {background-image: url("../images/txt-sidebar-bath.png"); width: 50px; height: 15px;}
.nav-room {background-image: url("../images/txt-sidebar-room.png"); width: 51px; height: 16px;}
.nav-food {background-image: url("../images/txt-sidebar-food.png"); width: 52px; height: 16px;}
.nav-chaji {background-image: url("../images/txt-sidebar-chaji.png"); width: 52px; height: 16px;}
.nav-reservation {background-image: url("../images/txt-sidebar-reservation.png"); width: 50px; height: 16px;}
.nav-access {background-image: url("../images/txt-sidebar-access.png"); width: 34px; height: 16px;}
.nav-blog {background-image: url("../images/txt-sidebar-blog.png"); width: 52px; height: 16px;}
.nav-info {background-image: url("../images/txt-sidebar-info.png"); width: 70px; height: 15px;}


/* ------------------------------------
◆　contents
------------------------------------ */
#contents {
  margin-left: 180px;
}

#contents .icon-same {
  width: 48px;
  height: 22px;
  margin: 0px auto 28px;
  display: block;
}

#contents .caption {
  margin: 0px auto 21px;
  display: block;
}

#contents .caption-p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}


/* ------------------------------------
◆　contents /index
------------------------------------ */
#bxslider {
  width: 100%;
  margin-bottom: 69px;
}

#bxslider img {
  width: 100%;
}

.index .index-comment .index-comment-txt {
  background-image: url("../images/txt-index-comment.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  width: 203px;
  height: 20px;
  margin: 0 auto 28px;
}

.index .index-comment p {
  color:  #2d2d2d;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  width: 700px;
  margin: 0 auto 74px;
}

.index .index-carousel {
  width: 1020px;
  height: 224px;
  position: relative;
  background-image: url("../images/bg-index-carousel_2.png");
  background-repeat: repeat-x;
  margin:0px auto 74px;
}

.index .index-carousel-area p {
  text-align: left;
  width: 920px;
  margin:0px auto 120px;
  color:  #2d2d2d;
  font-size: 14px;
  line-height: 23px;
}

/*slick version*/

.slick_container {
  width: 1020px;
  height: 224px;
  position: relative;
  background-image: url("../images/bg-index-carousel_2.png");
  background-repeat: repeat-x;
  margin:0px auto 74px;
}

.slick {
  width: 960px;
  margin: 0px 30px;
  padding: 2px;
}

.index-carousel-btn {
  width: 30px;
  height: 224px;
  display: block;
  z-index:9999;
}

.index-carousel-btn-right {
  position: absolute;
  top: 0px;
  right: -30px;
  background-image: url("../images/icon-index-carousel-right.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.index-carousel-btn-left {
  position: absolute;
  top: 0px;
  left: -30px;
  background-image: url("../images/icon-index-carousel-left.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.slick img {
  width: 320px;
  height: 220px;
}

/* ------------------------------------
◆　same
------------------------------------ */

.media {
  width: 820px;
  margin: 0 auto 84px;
}

.media .media-img {
  float: left;
  margin-right: 31px;
}

.media .media-img img {
  display: block;
  width: 403px;
  height: 264px;
}

.media .media-text {
  float: right;
  width: 386px;
}

.media .media-text h5 {
  font-size: 18px;
  letter-spacing: 0.2em;
  margin: 14px 0px 17px;
  font-weight: normal;
}

.media .media-text p {
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 13px;
}



.kv-same img {
  width: 100%;
  margin-bottom: 60px;
}

.subhead {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  margin: 0 auto 34px;
  width: 685px;
  height: 20px;
}


.pager {
  background-image: url("../images/border-info-dotted.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 27px;
  margin-bottom: 119px;
}

.pager ul {
  margin: 0 auto;
  width: 224px;
}

.pager ul li {
  width: 112px;
  float: left;
  text-align: center;
  position: relative;
}

.pager ul li a {
  width: 112px;
  font-size: 14px;
  display: inline-block;
}

.pager ul li a img {
  display: inline-block;
  position: absolute;
}

.pager .icon-left {padding-right: 14px; left: 0;}
.pager .icon-right {padding-left: 14px; right: 0;}


/* ------------------------------------
◆　bath
------------------------------------ */
.bath .caption-p {margin-bottom: 71px;}
/* ------------------------------------
◆　room
------------------------------------ */
.room .caption-p {margin-bottom: 71px;}
/* ------------------------------------
◆　food
------------------------------------ */
.food .caption-p {margin-bottom: 80px;}

.food .food-subhead-01 {background-image: url("../images/txt-food-subhead-01.png");}
.food .food-subhead-02 {background-image: url("../images/txt-food-subhead-02.png"); margin-top: 94px;}
.food .food-subhead-03 {background-image: url("../images/txt-food-subhead-03.png"); margin-top: 93px;}

.food .food-block {
  width: 820px;
  margin: 0 auto 60px;
}

.food .food-block-last {
  width: 820px;
  margin: 0 auto 80px;
}

.food .food-block-last p {
  font-size: 14px;
  line-height: 26px;
}


.food .food-block-left {
  float: left;
  width: 382px;
}

.food .food-block-right {
  float: right;
  width: 382px;
}

.food .food-block p {
  font-size: 14px;
  line-height: 24px;
}

.food .food-block h6 {
  font-size: 16px;
  text-align: center;
  font-weight: normal;
  background-image: url("../images/border-food.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  padding: 20px 0px 16px;
}

/* ------------------------------------
◆　reservation
------------------------------------ */
.reservation .caption-p {margin-bottom: 73px;}

.reservation .reservation-subhead-01 {background-image: url("../images/txt-reservation-subhead-01.png");}
.reservation .reservation-subhead-02 {background-image: url("../images/txt-reservation-subhead-02.png");}
.reservation .reservation-subhead-03 {background-image: url("../images/txt-reservation-subhead-03.png");}

.reservation .reservation-desc {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 29px;
}

.reservation .reservation-price {
  background-image: url("../images/pic-reservation-price.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  min-height: 337px;
  margin-bottom: 87px;
}

.reservation .reservation-info {
  background-image: url("../images/pic-reservation-info.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  min-height: 303px;
  margin-bottom: 92px;
}

.reservation .reservation-subtitle-01 {
  background-image: url("../images/txt-reservation-subtitle-01.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  min-height: 44px;
  margin-bottom: 41px;
}

.reservation .reservation-subtitle-02 {
  background-image: url("../images/txt-reservation-subtitle-02.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  min-height: 44px;
  margin-bottom: 39px;
}

.reservation h6 {
  font-size: 34px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 59px;
}

.reservation .reservation-btn-area {
  margin-bottom: 90px;
}

.reservation .reservation-btn-area ul {
  width: 450px;
  margin: 0 auto;
}

.reservation .reservation-btn-area ul li {
  float: left;
  margin-right: 50px;
}

.reservation .reservation-btn-area ul li:last-child {
  margin-right: 0px;
}

.reservation .reservation-btn-area ul li a {
  width: 200px;
  height: 42px;
  display: block;
}

.reservation .reservation-btn-area ul li a img {
  width: 200px;
  height: 42px;
}


/* ------------------------------------
◆　access
------------------------------------ */
.access .caption-p {
  margin-bottom: 85px;
}
.access .access-route {
  background-image: url("../images/pic-access-route.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 684px;
  height: 418px;
  margin: 0 auto 117px;
}

.access .access-subhead-route {background-image: url("../images/txt-access-subhead-01.png");}
.access .access-subhead-info {background-image: url("../images/txt-access-subhead-02.png");}

#map {
  width: 685px;
  height: 420px;
  margin: 0 auto 82px;
}

.access .access-about {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 90px;
}

/* ------------------------------------
◆　blog
------------------------------------ */
.blog .caption-p {
  margin-bottom: 52px;
}

.blog-area {
  width: 820px;
  margin: 0 auto;
}

.blog .blog-articles {
  width: 570px;
  margin-right: 50px;
  float: left;
}

.blog .blog-article a {
  background-image: url("../images/border-blog.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  width: 570px;
  padding: 29px 0px 0px;
  position: relative;
  margin-bottom: 82px;
  display: block;
}

.blog .blog-article h6 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.blog .blog-article time {
  display: block;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}

.blog .blog-article p {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 40px;
}

.blog .blog-article div {
  background-image: url("../images/icon-blog-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 12px 16px;
  padding-right: 26px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  right: 0px;

}


/* ------------------------------------
◆　blog/sidebar
------------------------------------ */

#blog-sidebar {
  float: right;
}

#blog-sidebar .blog-sidebar-category {
  background-image: url("../images/pic-blog-category.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  width: 200px;
  padding-top: 72px;
  margin-bottom: 79px;
}

#blog-sidebar .blog-sidebar-posted {
  background-image: url("../images/pic-blog-posted.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  width: 200px;
  padding-top: 72px;
}

#blog-sidebar ul li a {
  font-size: 14px;
  line-height: 33px;
}

/* ------------------------------------
◆　blog/single
------------------------------------ */
#single {
  width: 570px;
  margin-right: 50px;
  float: left;
  background-image: url("../images/border-single-dotted.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  padding-top: 19px;
  margin-bottom: 20px;
}

#single h2 {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 10px;
}

#single time {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
  display: block;
}

#single img {
  width: 100%;
  margin-bottom: 42px;
}

#single p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 62px;
}

#comments {
  margin-bottom: 133px;
}

#comments .comment-headline {
  background-image: url("../images/bg-single-comment.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 28px;
  font-size: 14px;
  text-align: center;
  padding-top: 14px;
}

#comments .comment-view {
  background-image: url("../images/border-blog-dotted.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 19px;
}

#comments .comment-view h5 {
  margin: 29px 0px 6px;
  font-size: 16px;
  background-image: url("../images/icon-single.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 15px;
}

#comments .comment-view time  {
  font-size: 12px;
  padding-left: 15px;
  margin-bottom: 21px;
}

#comments .comment-view p {
  font-size: 14px;
  line-height: 24px;
  padding: 0px 15px;
  margin-bottom: 0px;
}

#comments .comment-form {
  margin-top: 54px;
}

#comments .comment-form textarea {
  width: 564px;
  height: 110px;
  resize: none;
  border: solid 1px #d6d4c4;
  margin: 10px 0px;
}

#comments .comment-form input {
  width: 564px;
  height: 26px;
  border: solid 1px #d6d4c4;
  margin-bottom: 10px;
}

#comments .comment-form div input {
  width: 14px;
  height: 14px;
}

#comments .comment-form div label {
  font-size: 14px;
}

#comments .submit {
  margin: 40px auto 0px;
  background-image: url("../images/btn-single-comment.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 200px!important;
  height: 42px!important;
  border:none;
  padding: 0px!important;
  text-indent:-9999px;
  display:block;
}



/* ------------------------------------
◆　info
------------------------------------ */
.info .caption-p {
  margin-bottom: 70px;
}

.info .info-articles {
  width: 820px;
  margin: 0 auto;
}

.info .info-articles-article {
  padding-top: 29px;
  background-image: url("../images/border-info.png");
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 80px;
}

.info .info-articles-article h4 {
  margin-bottom: 10px;
}

.info .info-articles-article time {
  margin-bottom: 28px;
  display: inline-block;
}

/* ------------------------------------
◆　footer
------------------------------------ */
#footer {
  width: 920px;
  padding: 28px 0px 30px;
  background-image: url("../images/border-index-footer.png");
  background-repeat: no-repeat;
  margin: 0px auto;
  background-position: top center;
}

#footer p {
  text-align: center;
  color:  #2d2d2d;
  font-size: 14px;/
  line-height: 24px;
  margin-bottom: 10px;
  line-height: 1.5em;
}

