@charset "UTF-8";

/* ------------------------------------
◆　all
------------------------------------ */
html, body {
  color: #333;
  background-color: #fff;
  font-family:"ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  font-size: 13px;
  line-height: 1.7em;
  width: 100%;
  height: auto;
	position: relative;
	-webkit-text-size-adjust: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.clearfix {
  zoom: 1;
}

img {
	display: block;
}

.right {
  float: right;
}


#wrapper {
  width: 100%;
  background-image: url("../images/bg-sidebar.png");
  background-repeat: repeat;
}

.active {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
}

.pc {
  display: none;
}

.basic-text {
  font-size: 14px;
  line-height: 25px;
}

.point-bg-sp {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 50px 0px 0px;
}


/* ------------------------------------
◆　nav
------------------------------------ */
#nav {
  height: 56px;
  background-image: url("../images/bg-sidebar.png");
  background-repeat: repeat;
  padding: 14px 29px;
  position: relative;
}

#nav .logo {
  width: 73px;
  float: left;
}

#nav .logo img {
  width: 73px;
}

#nav .open-btn {
  width: 32px;
  height: 30px;
  float: right;
  display: block;
  margin: 12px 0px 0px;
}

.btn img {
  width: 32px;
  height: 30px;
  display: block;
}

#sidr-right {
  display: none;
  width: 250px;
  border-left: solid 4px rgba(111, 127, 110, 0.4);
  position: absolute;
  top: 0;
  background-image: url("../images/bg-sidebar.png");
  background-repeat: repeat;
  z-index: 9999;
}

#sidr-right .inner {
  height: 100%;
  padding: 25px 20px;
  overflow: hidden;
}

#sidr-right .close-btn-area {
  padding: 0px 0px 25px;
}

#sidr-right .close-btn-area .close-btn {
  display: block;
  width: 32px;
  height: 30px;
  float: right;
}

#sidr-right .close-btn-area .close-btn img {
  width: 30px;
  height: 30px;
  display: block;
}

#sidr-right ul li {
  border-top: solid 1px #cbcac6;
}

#sidr-right ul li:last-child {
  border-bottom: solid 1px #cbcac6;
}

#sidr-right ul li a {
  display: block;
  padding: 20px 0px;
  background-image: url("../images/icon-menu-arrow-sp.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 6px 11px;
}

.nav-text {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.nav-index {background-image: url("../images/txt-sidebar-top-sp.png"); width: 55px; height: 19px;}
.nav-bath {background-image: url("../images/txt-sidebar-bath-sp.png"); width: 52px; height: 17px;}
.nav-room {background-image: url("../images/txt-sidebar-room-sp.png"); width: 54px; height: 17px;}
.nav-food {background-image: url("../images/txt-sidebar-food-sp.png"); width: 59px; height: 18px;}
.nav-chaji {background-image: url("../images/txt-sidebar-chaji-sp.png"); width: 58px; height: 19px;}
.nav-reservation {background-image: url("../images/txt-sidebar-reservation-sp.png"); width: 56px; height: 18px;}
.nav-access {background-image: url("../images/txt-sidebar-access-sp.png"); width: 38px; height: 18px;}
.nav-blog {background-image: url("../images/txt-sidebar-blog-sp.png"); width: 58px; height: 17px;}
.nav-info {background-image: url("../images/txt-sidebar-info-sp.png"); width: 79px; height: 17px;}



/* ------------------------------------
◆　contents/same
------------------------------------ */
.kv-same img {
  width: 100%;
  min-height: 125px;
  margin-bottom: 60px;
}

.caption-p {
  font-size: 14px;
  line-height: 25px;
  padding: 0px 30px;
  margin-bottom: 50px;
}

.media {
  padding: 0px 30px 52px;
}

.media img {
  width: 100%;
}

.media .media-img {
  margin-bottom: 23px;
}

.media .media-text h5 {
  text-align: center;
  font-size: 16px;
  margin-bottom: 19px;
  font-weight: 300;
}

.media .media-text img {
  margin-bottom: 20px;
}

.media .media-text p {
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 14px;
}

.subhead {
  height: 15px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}


.bg-odd {
  background-color:  rgba(0, 0, 0, 0.03);
}

.pager {
  background-image: url("../images/border-info.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  padding: 23px 40px;
}

.pager .wp-pagenavi {
  margin: 0 auto;
}

.pager .wp-pagenavi:after {
  clear: both;
  display:block;
  content: "";
}

.pager a {
  display: inline-block;
  position: relative;
  width: 112px;
  line-height: 1.0em;
  font-size: 14px;
}

.pager .previouspostslink {
  float: right;
  text-align: center;
  background-image: url("../images/icon-info-right-allow.png");
  background-position: right;
  background-repeat: no-repeat;
}

.pager .nextpostslink {
  float: left;
  text-align: center;
  background-image: url("../images/icon-info-left-allow.png");
  background-position: left;
  background-repeat: no-repeat;
}

/* ------------------------------------
◆　index
------------------------------------ */
.kv {width: 100%;}
.index .index-comment .sp {
  width: 100%;
  margin-bottom: 60px;
}

.index .index-comment-txt {
  background-image: url("../images/txt-index-comment-sp.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  width: 163px;
  height: 17px;
  margin: 0 auto 40px;
}

.index p {
  color:  #4a4a4a;
  font-size: 14px;
  padding: 0px 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.index .index-links ul li {
  margin-bottom: 10px;
}

.index .index-links ul li:last-child {
  margin-bottom: 60px;
}


.index .index-links ul li a {
  display: block;
}

.index .index-links ul li a img {
  width: 100%;
}

.index .pagetop {
  margin-top: 60px;
}

.index .index-carousel-area p span {
  display: none;
}

/* ------------------------------------
◆　bath
------------------------------------ */
.bath .bath-subhead-01 {background-image: url("../images/txt-bath-subhead-01-sp.png"); margin-bottom: 11px;}
.bath .bath-subhead-02 {background-image: url("../images/txt-bath-subhead-02-sp.png"); margin-bottom: 11px;}
.bath-bg-sp {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 50px 0px 0px;
}

.bath .basic-text {
  margin: 52px 30px 60px;
}


/* ------------------------------------
◆　food
------------------------------------ */
.food .food-subhead-01 {background-image: url("../images/txt-food-subhead-01-sp.png");}
.food .food-subhead-02 {background-image: url("../images/txt-food-subhead-02-sp.png");}
.food .food-subhead-03 {background-image: url("../images/txt-food-subhead-03-sp.png"); margin-top: 50px;}
.food .subhead {margin-bottom: 15px;}
.food .point-bg-sp {padding-bottom: 52px;}

.food .food-block img,
.food .food-block-last img {
  width: 85%;
  margin: 0 auto 23px;
}

.food .food-block p,
.food .food-block-last p {
  font-size: 14px;
  line-height: 25px;
  padding: 0px 30px;
  margin-bottom: 52px;
}

.food .food-block h6 {
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  padding-bottom: 19px;
  background-image: url("../images/border-food-dotted-sp.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  width: 85%;
  margin: 0px auto 52px;
}

.no-mrg {margin-bottom: 0px!important;}

.food .pagetop {
  margin-top: 60px;
}
/* ------------------------------------
◆　reservation
------------------------------------ */
.reservation .caption-p {
  margin-bottom: 60px;
}
.reservation .reservation-inner {
  padding: 50px 30px;
}

.reservation .reservation-inner-color {
  background-color: rgba(0, 0, 0, 0.03);
}

.reservation .reservation-subhead-01 {background-image: url("../images/txt-reservation-subhead-01-sp.png"); margin-bottom: 30px;}
.reservation .reservation-subhead-02 {background-image: url("../images/txt-reservation-subhead-02-sp.png"); margin-bottom: 30px;}
.reservation .reservation-subhead-03 {background-image: url("../images/txt-reservation-subhead-03-sp.png"); margin-bottom: 20px;}

.reservation .reservation-desc {
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 30px;
  text-align: center;
}

.reservation .reservation-price {
  background-image: url("../images/pic-reservation-price-sp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 476px;
  /*height: 408px;
  */
  margin-bottom: 69px;
}

.reservation .reservation-child-price-sp {
  background-image: url("../images/pic-reservation-child-price-sp.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /*
  min-height: 303px;
  */
  height: 354px;
}


.reservation .reservation-info {
  background-image: url("../images/pic-reservation-info-sp.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 246px;
}

.reservation .reservation-subtitle-01 {
  background-image: url("../images/txt-reservation-subtitle-01-sp.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 67px;
  margin-bottom: 20px;
}

.reservation .reservation-subtitle-02 {
  background-image: url("../images/txt-reservation-subtitle-02-sp.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 56px;
  margin-bottom: 35px;
}


.reservation .reservation-inner h6 {
  font-size: 35px;
  line-height: 20px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
}


.reservation .reservation-inner .sp {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 41px;
}

.reservation .reservation-btn-area ul li a {
  display: block;
  width: 200px;
  height: 42px;
  margin: 0 auto;
}

.reservation .reservation-btn-area ul li a img {
  width: 200px;
  height: 42px;
}

.reservation .reservation-btn-area ul li {
  margin-bottom: 30px;
}

.reservation .reservation-btn-area ul li:last-child {
  margin-bottom: 10px;
}

.reservation .pagetop {
  margin-top: 60px;
}




/* ------------------------------------
◆　info
------------------------------------ */
.info .info-articles {
  margin: 0px 30px 60px;
  background-image: url("../images/border-info.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}


.info .info-articles-article {
  padding: 25px 10px;
  background-image: url("../images/border-info.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.info .info-articles-article h4 {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 45px;
}
.info .info-articles-article time {
  color:  #808080;
  font-size: 11px;
  line-height: 18px;
}

.info .info-articles-article p {display: none;}

/* ------------------------------------
◆　access
------------------------------------ */
.kv-access {background-image: url("../images/pic-access-kv-sp.png");}
.access .access-route {
  margin: 0px 30px 63px;
}

.access .access-route img {
  width: 100%;
}

.access .access-subhead-route {
  background-image: url("../images/txt-access-subhead-01-sp.png");
  width: 189px;
  margin: 0 auto 15px;
}

.access .access-subhead-info {
  background-image: url("../images/txt-access-subhead-02-sp.png");
  width: 142px;
  margin: 0 auto 30px;
}

#map {
  min-height: 310px;
  margin: 0 30px 61px;
}

.access .basic-text {
  margin: 0px 30px 52px;
}

.access .access-about {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 60px;
}

/* ------------------------------------
◆　blog
------------------------------------ */
.blog .blog-area {
  background-image: url("../images/txt-blog-title-sp.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  padding-top: 40px;
  margin: 0px 30px;
}

.blog .blog-articles {
  margin: 0px 0px 62px;
  background-image: url("../images/border-info.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

.blog .blog-article {
  background-image: url("../images/border-info.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.blog .blog-article:first-child {
  background-image: none;
}

.blog .blog-article a {
  padding: 25px 12px 23px;
  display: block;
}

.blog .blog-article h6 {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 46px;
}

.blog .blog-article time {
  font-size: 11px;
  line-height: 18px;
  color: #808080
}

.blog .blog-article p {
  display: none;
}

.blog .blog-article div {
  display: none;
}

#blog-sidebar {
  margin-bottom: 60px;
}

.blog-sidebar-category,
.blog-sidebar-posted {
  margin: 0 30px 30px;
  border: 2px solid #859882;
  background-color: #fff;
}

.blog-sidebar-category .sp-blog-menu,
.blog-sidebar-posted .sp-blog-menu {
  position: relative;
  padding: 10px 0 10px 10px;
}

.blog-sidebar-category .select-btn,
.blog-sidebar-posted .select-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 42px;
  height: 42px;
  background-image: url("../images/bg-blog-menu-btn.png")
}

.triangle {
  position: absolute;
  top: 16px;
  right: 13px;
  width: 15px;
}

.blog-sidebar-category ul,
.blog-sidebar-posted ul {
  display: none;
}

.blog-sidebar-category ul li,
.blog-sidebar-posted ul li {
  padding: 12px 0px 12px 12px;
  border-top: 2px solid #859882;
}

/* ------------------------------------
◆　blog/single
------------------------------------ */
#single img {
  width: 100%;
  margin-bottom: 20px;
}

#single .blog-title {
  background-image: url("../images/bg-single-headline-sp.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 15px 10px;
  margin-bottom: 9px;
}

#single .blog-title h2 {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin-bottom: 9px;
}

#single .blog-title time {
  font-size: 11px;
}

#single p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 39px;
}

#single .comment-headline {
  background-image: url("../images/bg-single-comment-headline-sp.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 15px 0px 12px;
  text-align: center;
  margin-bottom: 20px;
}

#single .comment-view .fn {
  background-image: url("../images/icon-single-sp.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 
}

.single .blog-area {
  background: none !important;
  padding-top: 0px !important;
}

/* ------------------------------------
◆　footer
------------------------------------ */
.pagetop {
  width: 199px;
  height: 42px;
  margin: 0 auto 60px;
  display: block;
}

.pagetop img {
  width: 199px;
  height: 42px;
}


#footer {
  background-image: url("../images/pic-footer-sp.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 134px;
}

#footer p {
  display: none;
}










